<header class="container text-center">
  <a href="/">
    <img
      alt="Timezone Butler"
      height="128"
      width="128"
      src="https://user-images.githubusercontent.com/3254314/48670345-471db980-eb0e-11e8-9645-14684a063079.png"
      srcset="
        https://user-images.githubusercontent.com/3254314/48670345-471db980-eb0e-11e8-9645-14684a063079.png 1x,
        https://user-images.githubusercontent.com/3254314/48670329-e7bfa980-eb0d-11e8-8449-d4370d6d1e9f.png 2x
      " />
  </a>
</header>
<div class="container hero">

  <h1 class="text-center">At your service!</h1>

  <p>
    I will now help your team dealing with timezone differences. Don't forget to <strong>invite me to the channels</strong> you would like me to take care of.
  </p>

  <p>If you appreciate my help and would like to show support, you can <a href="https://twitter.com/mathieudutour" target="_blank">follow me on Twitter</a> or <a href="https://github.com/mathieudutour/timezone-butler" target="_blank">star my source code</a>.</p>
  <p>
    - Your new timezone butler
  </p>
  <a class="cta" href="https://slack.com/app_redirect?app={{{SLACK_APP_ID}}}">Go back to Slack</a>
</div>
